* { font-family: 'Atkinson Hyperlegible', sans-serif; } 
body { text-align: center;  columns: 1;
       padding-left: 20vw; padding-right: 20vw; padding-top: 10vh; 
       line-height: 1.4;  font-size: 1.1em; } 
.lead { font-size: 1.2em;}       
figure img.farmer {border-radius: 50%;}
h1 { font-weight: 600;}   
a {text-decoration: none; }
ul { list-style: none; }
ul li { margin-bottom: 10px;}
.walletLabel { margin: 10px; }
.slugga-pen {
     z-index: 1000;
         z-index: 1000;
    width: 60vw;
    border: solid 2px transparent;
    padding: 20px;
    margin-top: -50vh;
}
.slugga-pen .slugga {
    display: inline-block;
    margin: 16px;
    width: 196px; height: 196px;
    border: solid 1px #555;
    text-align: center;
    shadow-box: 5px 5px 5px 5px #cacaca;
}
.slugga-pen .slugga .heading {
       font-weight: bold;      
       text-align: center;
}
.connected-panel {
       position: fixed; top: 3vh; right: 3vw;      
}
